@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("./fonts/ArialMT.woff2") format("woff2"), url("./fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("./fonts/Georgia.woff2") format("woff2"), url("./fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("./fonts/Georgia-Italic.woff2") format("woff2"), url("./fonts/Georgia-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

.heading-1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-dark-l);
}
@media (max-width: 47.99875em) {
  .heading-1 {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-light-xl);
  }
}
@media (max-width: 47.99875em) and (min-width: 47.999375em) {
  .heading-1 {
    font-size: 2.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.999375em) {
  @supports (font-size: clamp( 1.5625rem , 0.7142667805rem  +  4.2411660975vw , 2.75rem )) {
    .heading-1 {
      font-size: clamp( 1.5625rem , 0.7142667805rem  +  4.2411660975vw , 2.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 0.7142667805rem  +  4.2411660975vw , 2.75rem )) {
    .heading-1 {
      font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 27.999375);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .heading-1 {
    font-size: 1.5625rem;
  }
}

.heading-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
@media (min-width: 48em) {
  .heading-2 {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 1.5625rem , 1.1160714286rem  +  2.2321428571vw , 2.1875rem )) {
    .heading-2 {
      font-size: clamp( 1.5625rem , 1.1160714286rem  +  2.2321428571vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.1160714286rem  +  2.2321428571vw , 2.1875rem )) {
    .heading-2 {
      font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .heading-2 {
    font-size: 1.5625rem;
  }
}
@media (max-width: 47.9375em) {
  .heading-2 {
    text-align: center;
  }
}

.heading-3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.button-lnk {
  display: inline-flex;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: all 0.3s ease-in-out;
}
.button-lnk_bg {
  background: var(--color-primary);
}
@media (any-hover: hover) {
  .button-lnk_bg:hover {
    background: var(--color-primary-light);
  }
}
.button-lnk_no-bg {
  border: 2px solid var(--color-primary);
}
@media (any-hover: hover) {
  .button-lnk_no-bg:hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  padding-top: 1px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
@media (max-width: 1280px) and (min-width: 80em) {
  [class*=__container] {
    padding-left: 2.5rem;
  }
}
@media (max-width: 1280px) and (min-width: 48em) and (max-width: 80em) {
  @supports (padding-left: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem )) {
    [class*=__container] {
      padding-left: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem );
    }
  }
  @supports not (padding-left: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem )) {
    [class*=__container] {
      padding-left: calc(1.875rem + 0.625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 1280px) and (max-width: 48em) {
  [class*=__container] {
    padding-left: 1.875rem;
  }
}
@media (max-width: 1280px) and (min-width: 80em) {
  [class*=__container] {
    padding-right: 2.5rem;
  }
}
@media (max-width: 1280px) and (min-width: 48em) and (max-width: 80em) {
  @supports (padding-right: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem )) {
    [class*=__container] {
      padding-right: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem );
    }
  }
  @supports not (padding-right: clamp( 1.875rem , 0.9375rem  +  1.953125vw , 2.5rem )) {
    [class*=__container] {
      padding-right: calc(1.875rem + 0.625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 1280px) and (max-width: 48em) {
  [class*=__container] {
    padding-right: 1.875rem;
  }
}
@media (max-width: 768px) and (min-width: 48em) {
  [class*=__container] {
    padding-left: 1.875rem;
  }
}
@media (max-width: 768px) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    [class*=__container] {
      padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    [class*=__container] {
      padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 768px) and (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.625rem;
  }
}
@media (max-width: 768px) and (min-width: 48em) {
  [class*=__container] {
    padding-right: 1.875rem;
  }
}
@media (max-width: 768px) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    [class*=__container] {
      padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    [class*=__container] {
      padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 768px) and (max-width: 20em) {
  [class*=__container] {
    padding-right: 0.625rem;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: var(--font-family);
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  padding: 30px 0 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 48em) {
  .header__logo {
    margin-left: 0.0000000625rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-left: clamp( 0.0000000625rem , 1.0714285268rem  +  -2.2321426339vw , 0.625rem )) {
    .header__logo {
      margin-left: clamp( 0.0000000625rem , 1.0714285268rem  +  -2.2321426339vw , 0.625rem );
    }
  }
  @supports not (margin-left: clamp( 0.0000000625rem , 1.0714285268rem  +  -2.2321426339vw , 0.625rem )) {
    .header__logo {
      margin-left: calc(0.625rem + -0.6249999375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    margin-left: 0.625rem;
  }
}
.header_light {
  padding: 30px 0;
  background: var(--color-light-xl);
}
.header_light .logo > * {
  color: var(--color-dark-l);
}
.header_light .navigation * {
  color: var(--color-dark-l);
}
.header_light .navigation__item_active a {
  color: var(--color-dark-3xl);
}
.header_light .navigation a:hover {
  color: var(--color-dark-3xl);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  z-index: 2;
}
.logo__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.logo__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  padding-left: 4px;
}

.navigation {
  display: flex;
  gap: 36px;
  margin-top: -5px;
}
.navigation__item {
  list-style: none;
  position: relative;
  cursor: pointer;
}
.navigation__item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: auto;
  right: 0;
  width: 0;
  height: 3px;
  background: var(--color-primary);
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .navigation__item:hover a {
    color: var(--color-light-s);
  }
}
.navigation__item_active {
  cursor: default;
}
.navigation__item_active::after {
  width: 100%;
  left: 0;
  right: auto;
}
.navigation__item_active a {
  color: var(--color-light-s);
}
.navigation__link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  cursor: inherit;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 47.99875em) {
  .navigation {
    display: none;
  }
}

.burger {
  cursor: pointer;
  z-index: 10;
  background: 0;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  position: relative;
  transform: translateY(-2px);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: var(--border-dark, #665f55);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.burger::before {
  transform: translateY(-4px);
}
.burger::after {
  transform: translateY(4px);
}
.burger_active::before {
  transform: translateY(0px) rotate(45deg);
}
.burger_active::after {
  transform: translateY(0px) rotate(-45deg);
}
@media (min-width: 47.99875em) {
  .burger {
    display: none;
  }
}
.icon-burger {
  display: none;
}
@media (max-width: 47.9375em) {
  .icon-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 5;
    margin-right: 10px;
  }
  .icon-burger span, .icon-burger::before, .icon-burger::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
  }
  .icon-burger::before {
    top: 0px;
  }
  .icon-burger::after {
    bottom: 0px;
  }
  .icon-burger span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-burger span {
    transform: scale(0);
  }
  .menu-open .icon-burger::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-burger::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .icon-burger_pets span, .icon-burger_pets::before, .icon-burger_pets::after {
    background: #000;
  }
}

.block-only {
  background: url("img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  margin-top: -89px;
  padding-top: 180px;
}
@media (max-width: 66.1875em) {
  .block-only {
    padding-top: 0;
  }
}
.block-only__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 66.1875em) {
  .block-only__container {
    flex-direction: column;
    align-items: center;
  }
}
.block-only__text-content {
  max-width: 460px;
  margin-top: 164px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 66.1875em) {
  .block-only__text-content {
    margin-top: 152px;
  }
}
@media (max-width: 47.9375em) {
  .block-only__text-content {
    align-items: center;
  }
}
.block-only__title {
  color: var(--color-light-xl);
  margin-top: -1px;
}
@media (min-width: 48em) {
  .block-only__title {
    max-width: 19.375rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (max-width: clamp( 16.25rem , 14.0178571429rem  +  11.1607142857vw , 19.375rem )) {
    .block-only__title {
      max-width: clamp( 16.25rem , 14.0178571429rem  +  11.1607142857vw , 19.375rem );
    }
  }
  @supports not (max-width: clamp( 16.25rem , 14.0178571429rem  +  11.1607142857vw , 19.375rem )) {
    .block-only__title {
      max-width: calc(16.25rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-only__title {
    max-width: 16.25rem;
  }
}
@media (max-width: 47.9375em) {
  .block-only__title {
    line-height: 129%;
  }
}
.block-only__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  margin-top: 41px;
  text-align: left;
}
@media (max-width: 66.1875em) {
  .block-only__text {
    margin-top: 40px;
  }
}
@media (max-width: 47.9375em) {
  .block-only__text {
    text-align: center;
  }
}
.block-only__button {
  margin-top: 42px;
}
@media (max-width: 66.1875em) {
  .block-only__button {
    align-self: center;
    margin-left: -1px;
  }
}
.block-only__img-wrap {
  width: 698px;
}
@media (min-width: 80em) {
  .block-only__img-wrap {
    width: 43.625rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (width: clamp( 35.5625rem , 23.46875rem  +  25.1953125vw , 43.625rem )) {
    .block-only__img-wrap {
      width: clamp( 35.5625rem , 23.46875rem  +  25.1953125vw , 43.625rem );
    }
  }
  @supports not (width: clamp( 35.5625rem , 23.46875rem  +  25.1953125vw , 43.625rem )) {
    .block-only__img-wrap {
      width: calc(35.5625rem + 8.0625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-only__img-wrap {
    width: 35.5625rem;
  }
}
@media (max-width: 62.5em) and (min-width: 80em) {
  .block-only__img-wrap {
    margin-top: 0.0000000625rem;
  }
}
@media (max-width: 62.5em) and (min-width: 48em) and (max-width: 80em) {
  @supports (margin-top: clamp( 0.0000000625rem , 9.3749999063rem  +  -11.7187498047vw , 3.75rem )) {
    .block-only__img-wrap {
      margin-top: clamp( 0.0000000625rem , 9.3749999063rem  +  -11.7187498047vw , 3.75rem );
    }
  }
  @supports not (margin-top: clamp( 0.0000000625rem , 9.3749999063rem  +  -11.7187498047vw , 3.75rem )) {
    .block-only__img-wrap {
      margin-top: calc(3.75rem + -3.7499999375 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 62.5em) and (max-width: 48em) {
  .block-only__img-wrap {
    margin-top: 3.75rem;
  }
}
@media (max-width: 62.5em) and (min-width: 80em) {
  .block-only__img-wrap {
    margin-right: 0.0000000625rem;
  }
}
@media (max-width: 62.5em) and (min-width: 48em) and (max-width: 80em) {
  @supports (margin-right: clamp( -8.625rem , -21.5625000938rem  +  26.9531251953vw , 0.0000000625rem )) {
    .block-only__img-wrap {
      margin-right: clamp( -8.625rem , -21.5625000938rem  +  26.9531251953vw , 0.0000000625rem );
    }
  }
  @supports not (margin-right: clamp( -8.625rem , -21.5625000938rem  +  26.9531251953vw , 0.0000000625rem )) {
    .block-only__img-wrap {
      margin-right: calc(-8.625rem + 8.6250000625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 62.5em) and (max-width: 48em) {
  .block-only__img-wrap {
    margin-right: -8.625rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 48em) {
  .block-only__img-wrap {
    width: 35.5625rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 20em) and (max-width: 48em) {
  @supports (width: clamp( 16.25rem , 2.4553571429rem  +  68.9732142857vw , 35.5625rem )) {
    .block-only__img-wrap {
      width: clamp( 16.25rem , 2.4553571429rem  +  68.9732142857vw , 35.5625rem );
    }
  }
  @supports not (width: clamp( 16.25rem , 2.4553571429rem  +  68.9732142857vw , 35.5625rem )) {
    .block-only__img-wrap {
      width: calc(16.25rem + 19.3125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.9375em) and (max-width: 20em) {
  .block-only__img-wrap {
    width: 16.25rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 48em) {
  .block-only__img-wrap {
    margin-right: -8.625rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 20em) and (max-width: 48em) {
  @supports (margin-right: clamp( -8.625rem , 1.875rem  +  -21.875vw , -2.5rem )) {
    .block-only__img-wrap {
      margin-right: clamp( -8.625rem , 1.875rem  +  -21.875vw , -2.5rem );
    }
  }
  @supports not (margin-right: clamp( -8.625rem , 1.875rem  +  -21.875vw , -2.5rem )) {
    .block-only__img-wrap {
      margin-right: calc(-2.5rem + -6.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.9375em) and (max-width: 20em) {
  .block-only__img-wrap {
    margin-right: -2.5rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 48em) {
  .block-only__img-wrap {
    margin-top: 3.75rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 20em) and (max-width: 48em) {
  @supports (margin-top: clamp( 3.75rem , 4.2857142857rem  +  -1.1160714286vw , 4.0625rem )) {
    .block-only__img-wrap {
      margin-top: clamp( 3.75rem , 4.2857142857rem  +  -1.1160714286vw , 4.0625rem );
    }
  }
  @supports not (margin-top: clamp( 3.75rem , 4.2857142857rem  +  -1.1160714286vw , 4.0625rem )) {
    .block-only__img-wrap {
      margin-top: calc(4.0625rem + -0.3125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.9375em) and (max-width: 20em) {
  .block-only__img-wrap {
    margin-top: 4.0625rem;
  }
}
.block-only__img {
  object-fit: cover;
  width: 100%;
}

.block-about__container {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}
@media (min-width: 80em) {
  .block-about__container {
    padding-top: 5rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (padding-top: clamp( 4.125rem , 2.8125rem  +  2.734375vw , 5rem )) {
    .block-about__container {
      padding-top: clamp( 4.125rem , 2.8125rem  +  2.734375vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 4.125rem , 2.8125rem  +  2.734375vw , 5rem )) {
    .block-about__container {
      padding-top: calc(4.125rem + 0.875 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-about__container {
    padding-top: 4.125rem;
  }
}
@media (min-width: 80em) {
  .block-about__container {
    gap: 7.5rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem )) {
    .block-about__container {
      gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , -6.5625rem  +  17.578125vw , 7.5rem )) {
    .block-about__container {
      gap: calc(1.875rem + 5.625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-about__container {
    gap: 1.875rem;
  }
}
@media (max-width: 50em) {
  .block-about__container {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}
@media (max-width: 48em) and (min-width: 48em) {
  .block-about__container {
    padding-top: 4.125rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-top: clamp( 1.75rem , 0.0535714286rem  +  8.4821428571vw , 4.125rem )) {
    .block-about__container {
      padding-top: clamp( 1.75rem , 0.0535714286rem  +  8.4821428571vw , 4.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.75rem , 0.0535714286rem  +  8.4821428571vw , 4.125rem )) {
    .block-about__container {
      padding-top: calc(1.75rem + 2.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .block-about__container {
    padding-top: 1.75rem;
  }
}
@media (max-width: 48em) and (min-width: 48em) {
  .block-about__container {
    padding-left: 1.875rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
    .block-about__container {
      padding-left: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem );
    }
  }
  @supports not (padding-left: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
    .block-about__container {
      padding-left: calc(1.5rem + 0.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .block-about__container {
    padding-left: 1.5rem;
  }
}
@media (max-width: 48em) and (min-width: 48em) {
  .block-about__container {
    padding-right: 1.875rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
    .block-about__container {
      padding-right: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem );
    }
  }
  @supports not (padding-right: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
    .block-about__container {
      padding-right: calc(1.5rem + 0.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .block-about__container {
    padding-right: 1.5rem;
  }
}
@media (max-width: 48em) and (min-width: 48em) {
  .block-about__container {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-bottom: clamp( 2.625rem , 0.0357142857rem  +  12.9464285714vw , 6.25rem )) {
    .block-about__container {
      padding-bottom: clamp( 2.625rem , 0.0357142857rem  +  12.9464285714vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.625rem , 0.0357142857rem  +  12.9464285714vw , 6.25rem )) {
    .block-about__container {
      padding-bottom: calc(2.625rem + 3.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .block-about__container {
    padding-bottom: 2.625rem;
  }
}
@media (max-width: 48em) and (min-width: 48em) {
  .block-about__container {
    row-gap: 5rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  @supports (row-gap: clamp( 2.4375rem , 0.6071428571rem  +  9.1517857143vw , 5rem )) {
    .block-about__container {
      row-gap: clamp( 2.4375rem , 0.6071428571rem  +  9.1517857143vw , 5rem );
    }
  }
  @supports not (row-gap: clamp( 2.4375rem , 0.6071428571rem  +  9.1517857143vw , 5rem )) {
    .block-about__container {
      row-gap: calc(2.4375rem + 2.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .block-about__container {
    row-gap: 2.4375rem;
  }
}
.block-about__img-wrap {
  align-self: center;
}
@media (max-width: 50em) {
  .block-about__img-wrap {
    order: 1;
  }
}
@media (max-width: 47.9375em) {
  .block-about__img-wrap {
    max-width: 260px;
  }
}
.block-about__img {
  object-fit: cover;
  width: 100%;
}
.block-about__content {
  max-width: 430px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.block-about__title {
  max-width: 370px;
}
.block-about__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}
@media (max-width: 47.9375em) {
  .block-about__subtitle {
    text-align: justify;
  }
}

.block-pets {
  background: var(--color-light-l);
}
.block-pets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 30px 100px;
}
@media (min-width: 48em) {
  .block-pets__container {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem )) {
    .block-pets__container {
      padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem )) {
    .block-pets__container {
      padding-top: calc(2.625rem + 2.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-pets__container {
    padding-top: 2.625rem;
  }
}
@media (min-width: 48em) {
  .block-pets__container {
    padding-left: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .block-pets__container {
      padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .block-pets__container {
      padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-pets__container {
    padding-left: 0.625rem;
  }
}
@media (min-width: 48em) {
  .block-pets__container {
    padding-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .block-pets__container {
      padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem )) {
    .block-pets__container {
      padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-pets__container {
    padding-right: 0.625rem;
  }
}
@media (max-width: 40em) {
  .block-pets__container {
    gap: 42px;
    padding-bottom: 42px;
  }
}
.block-pets__title {
  max-width: 400px;
  text-align: center;
  margin-left: 3px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1px;
  gap: 53px;
}
@media (min-width: 80em) {
  .slider {
    gap: 3.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (gap: clamp( 0.75rem , -3.09375rem  +  8.0078125vw , 3.3125rem )) {
    .slider {
      gap: clamp( 0.75rem , -3.09375rem  +  8.0078125vw , 3.3125rem );
    }
  }
  @supports not (gap: clamp( 0.75rem , -3.09375rem  +  8.0078125vw , 3.3125rem )) {
    .slider {
      gap: calc(0.75rem + 2.5625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .slider {
    gap: 0.75rem;
  }
}
@media (max-width: 40em) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
  }
}
.slider__wrapp {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
@media (min-width: 80em) {
  .slider__wrapp {
    gap: 5.625rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (gap: clamp( 1.25rem , -5.3125rem  +  13.671875vw , 5.625rem )) {
    .slider__wrapp {
      gap: clamp( 1.25rem , -5.3125rem  +  13.671875vw , 5.625rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -5.3125rem  +  13.671875vw , 5.625rem )) {
    .slider__wrapp {
      gap: calc(1.25rem + 4.375 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .slider__wrapp {
    gap: 1.25rem;
  }
}
@media (max-width: 62.5em) {
  .slider__wrapp > :nth-child(n+3) {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 47.9375em) {
  .slider__wrapp {
    gap: 0;
  }
}
@media (max-width: 40em) {
  .slider__wrapp > :nth-child(n+2) {
    opacity: 0;
    visibility: hidden;
  }
}
.slider__nav-btn {
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-image: url("icons/icon-arrow.svg");
  background-color: var(--color-light-l);
  background-position: 50% 50%;
  transition: all 0.3s ease-in-out;
}
.slider__nav-btn_noactive {
  border: 2px solid var(--color-dark-s);
  background-blend-mode: color-burn;
  cursor: default;
}
@media (max-width: 40em) {
  .slider__nav-btn_prev {
    order: 1;
  }
}
.slider__nav-btn_next {
  transform: rotate(180deg);
}
@media (max-width: 40em) {
  .slider__nav-btn_next {
    order: 2;
  }
}
@media (any-hover: hover) {
  .slider__nav-btn_prev:hover, .slider__nav-btn_next:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}
@media (max-width: 40em) {
  .slider__slide {
    display: flex;
    justify-content: center;
    order: 0;
  }
}

.slide {
  flex-basis: 33.3333%;
}
@media (max-width: 62.5em) {
  .slide {
    flex-shrink: 0;
    flex-basis: 50%;
  }
}
@media (max-width: 47.9375em) {
  .slide {
    margin: 0 -4px 0 12px;
  }
}
@media (max-width: 40em) {
  .slide {
    flex-basis: 100%;
    margin: 0;
  }
}
.slide__wrapp {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 9px;
  background: var(--color-light-s);
  max-width: 270px;
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .slide__wrapp:hover {
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .slide__wrapp:hover a {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}
.slide__img-wrap img {
  width: 100%;
  object-fit: cover;
}
.slide__button {
  padding: 13px 43px;
}

.block-help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 59px;
  padding: 80px 0 100px;
}
@media (min-width: 48em) {
  .block-help__container {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem )) {
    .block-help__container {
      padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 2.625rem , 0.9285714286rem  +  8.4821428571vw , 5rem )) {
    .block-help__container {
      padding-top: calc(2.625rem + 2.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-help__container {
    padding-top: 2.625rem;
  }
}
@media (min-width: 48em) {
  .block-help__container {
    gap: 3.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (gap: clamp( 2.625rem , 1.8660714286rem  +  3.7946428571vw , 3.6875rem )) {
    .block-help__container {
      gap: clamp( 2.625rem , 1.8660714286rem  +  3.7946428571vw , 3.6875rem );
    }
  }
  @supports not (gap: clamp( 2.625rem , 1.8660714286rem  +  3.7946428571vw , 3.6875rem )) {
    .block-help__container {
      gap: calc(2.625rem + 1.0625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-help__container {
    gap: 2.625rem;
  }
}
@media (max-width: 40em) {
  .block-help__container {
    padding-bottom: 42px;
  }
}
.block-help__title {
  max-width: 310px;
  text-align: center;
  margin-left: 3px;
}
@media (max-width: 40em) {
  .block-help__title {
    padding: 0 20px;
  }
}
.block-help__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
  padding: 0 124px 0 127px;
}
@media (min-width: 80em) {
  .block-help__content {
    column-gap: 7.5rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (column-gap: clamp( 3.6875rem , -2.03125rem  +  11.9140625vw , 7.5rem )) {
    .block-help__content {
      column-gap: clamp( 3.6875rem , -2.03125rem  +  11.9140625vw , 7.5rem );
    }
  }
  @supports not (column-gap: clamp( 3.6875rem , -2.03125rem  +  11.9140625vw , 7.5rem )) {
    .block-help__content {
      column-gap: calc(3.6875rem + 3.8125 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-help__content {
    column-gap: 3.6875rem;
  }
}
@media (min-width: 80em) {
  .block-help__content {
    padding-left: 7.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (padding-left: clamp( 4.375rem , -0.96875rem  +  11.1328125vw , 7.9375rem )) {
    .block-help__content {
      padding-left: clamp( 4.375rem , -0.96875rem  +  11.1328125vw , 7.9375rem );
    }
  }
  @supports not (padding-left: clamp( 4.375rem , -0.96875rem  +  11.1328125vw , 7.9375rem )) {
    .block-help__content {
      padding-left: calc(4.375rem + 3.5625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-help__content {
    padding-left: 4.375rem;
  }
}
@media (min-width: 80em) {
  .block-help__content {
    padding-right: 7.75rem;
  }
}
@media (min-width: 48em) and (max-width: 80em) {
  @supports (padding-right: clamp( 4.375rem , -0.6875rem  +  10.546875vw , 7.75rem )) {
    .block-help__content {
      padding-right: clamp( 4.375rem , -0.6875rem  +  10.546875vw , 7.75rem );
    }
  }
  @supports not (padding-right: clamp( 4.375rem , -0.6875rem  +  10.546875vw , 7.75rem )) {
    .block-help__content {
      padding-right: calc(4.375rem + 3.375 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .block-help__content {
    padding-right: 4.375rem;
  }
}
@media (max-width: 47.9375em) {
  .block-help__content {
    gap: 30px;
  }
}
@media (max-width: 47.9375em) and (min-width: 48em) {
  .block-help__content {
    padding-left: 4.375rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem )) {
    .block-help__content {
      padding-left: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem )) {
    .block-help__content {
      padding-left: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.9375em) and (max-width: 20em) {
  .block-help__content {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 48em) {
  .block-help__content {
    padding-right: 4.375rem;
  }
}
@media (max-width: 47.9375em) and (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem )) {
    .block-help__content {
      padding-right: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -1.5178571429rem  +  12.2767857143vw , 4.375rem )) {
    .block-help__content {
      padding-right: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.9375em) and (max-width: 20em) {
  .block-help__content {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 20em) {
  .block-help__content {
    justify-content: flex-start;
  }
}

.help-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 62.5em) {
  .help-list__item {
    width: 170px;
  }
}
@media (max-width: 47.9375em) {
  .help-list__item {
    width: 130px;
  }
}
@media (max-width: 40em) {
  .help-list__item {
    gap: 19px;
  }
}
@media (max-width: 40em) {
  .help-list__item-wrapp-img {
    width: 50px;
    height: 50px;
  }
}
.help-list__item-img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 48em) {
  .help-list__item-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .help-list__item-title {
      font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .help-list__item-title {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .help-list__item-title {
    font-size: 0.9375rem;
  }
}

.block-donat {
  background: var(--color-light-l);
}
.block-donat__container {
  padding-top: 80px;
  padding-bottom: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 50em) {
  .block-donat__container {
    flex-direction: column;
    gap: 59px;
    padding-bottom: 100px;
  }
}
@media (max-width: 40em) {
  .block-donat__container {
    padding-top: 45px;
    gap: 41px;
    padding-bottom: 42px;
  }
}
.block-donat__wrapp-img {
  max-width: 505px;
}
@media (max-width: 50em) {
  .block-donat__wrapp-img {
    order: 1;
    margin-left: -1px;
  }
}
@media (max-width: 23.75em) {
  .block-donat__wrapp-img {
    max-width: 16.25rem;
  }
}
.block-donat__img {
  width: 100%;
  object-fit: cover;
}
.block-donat__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 380px;
}
@media (max-width: 40em) {
  .block-donat__content {
    align-items: center;
    gap: 23px;
  }
}
.block-donat__title {
  max-width: 300px;
}
@media (max-width: 40em) {
  .block-donat__title {
    padding: 0 37px;
  }
}
.block-donat__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
@media (max-width: 40em) {
  .block-donat__subtitle {
    letter-spacing: normal;
  }
}
.block-donat__credit-card {
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  background: var(--color-primary);
  position: relative;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 48em) {
  .block-donat__credit-card {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .block-donat__credit-card {
      font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.9375rem , 0.7142857143rem  +  1.1160714286vw , 1.25rem )) {
    .block-donat__credit-card {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .block-donat__credit-card {
    font-size: 0.9375rem;
  }
}
.block-donat__credit-card::before {
  content: "";
  position: absolute;
  background-image: url("icons/icon-credit-card.svg");
  width: 30px;
  height: 23px;
  left: 15px;
}
@media (any-hover: hover) {
  .block-donat__credit-card:hover {
    background: var(--color-primary-light);
  }
}
@media (max-width: 40em) {
  .block-donat__credit-card {
    line-height: 150%;
  }
}
.block-donat__text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
}
@media (max-width: 40em) {
  .block-donat__text {
    text-align: justify;
    padding: 0 10px;
  }
}

.footer {
  background: url("img/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
.footer__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 62.5em) {
  .footer__container {
    justify-content: center;
    column-gap: 60px;
    padding-top: 14px;
    row-gap: 65px;
  }
}
@media (max-width: 40em) {
  .footer__container {
    row-gap: 22px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__contact-title {
  padding-top: 17px;
  max-width: 279px;
  color: var(--color-light-xl);
}
.footer__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}
.footer__link::before {
  content: "";
  display: block;
  width: 41px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -2px;
  transition: all 0.3s ease-in-out;
}
.footer__link_mail::before {
  background-image: url("icons/icon-email.svg");
}
@media (max-width: 40em) {
  .footer__link_mail {
    margin-left: 13px;
  }
}
.footer__link_tel {
  margin-top: 2px;
}
.footer__link_tel::before {
  background-image: url("icons/icon-phone.svg");
}
@media (max-width: 40em) {
  .footer__link_tel {
    margin-left: 19px;
  }
}
.footer__link_location::before {
  background-image: url("icons/icon-marker.svg");
}
@media (max-width: 40em) {
  .footer__link_location {
    margin-top: 10px;
  }
}
.footer__link_locationc {
  margin-top: 2px;
  gap: 0;
}
@media (max-width: 40em) {
  .footer__link_locationc {
    margin-top: 6px;
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--color-light-s);
  }
  .footer__link:hover::before {
    filter: grayscale(1);
  }
}
.footer__location {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-basis: 302px;
}
.footer__location-title {
  padding-top: 17px;
  padding-left: 3px;
  max-width: 279px;
  color: var(--color-light-xl);
  margin-left: -2px;
}
@media (max-width: 40em) {
  .footer__location-title {
    margin-left: 9px;
  }
}
.footer__img-wrapp img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 23.75em) {
  .footer__img-wrapp {
    margin-top: 20px;
    max-width: 260px;
  }
}

.pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background: var(--color-light-l);
}
@media (max-width: 62.5em) {
  .pets {
    padding-bottom: 77px;
  }
}
@media (max-width: 40em) {
  .pets {
    padding-top: 41px;
    padding-bottom: 42px;
  }
}
.pets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
@media (max-width: 62.5em) {
  .pets__container {
    gap: 15px;
  }
}
.pets__title {
  text-align: center;
  margin: 2px 0 0 4px;
}
.pets__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  padding: 13px 0;
}
@media (max-width: 62.5em) {
  .pets__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .pets__grid > :nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 768px) {
  .pets__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 28.125em) {
  .pets__grid {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 25px;
    padding-bottom: 17px;
  }
  .pets__grid > :nth-child(n+4) {
    display: none;
  }
}
.pets__pagination {
  margin-top: 2px;
}
@media (max-width: 62.5em) {
  .pets__pagination {
    margin-top: 11px;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 9px;
  background: var(--color-light-s);
  max-width: 270px;
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.pet-card__img-wrap img {
  width: 100%;
  object-fit: cover;
}
.pet-card__button {
  padding: 13px 43px;
}
@media (any-hover: hover) {
  .pet-card:hover {
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .pet-card:hover a {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 28.125em) {
  .pagination {
    gap: 10px;
  }
}
.pagination__nav-btn {
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  width: 52px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-3xl);
  cursor: default;
  transition: all 0.3s ease-in-out;
}
.pagination__nav-btn_noactive {
  border: 2px solid var(--color-dark-s);
  color: var(--color-dark-s);
  background: none;
}
.pagination__nav-btn_active {
  background: var(--color-primary);
}
@media (any-hover: hover) {
  .pagination__nav-btn:not(.pagination__nav-btn_noactive):not(.pagination__nav-btn_active):hover {
    cursor: pointer;
    background: var(--color-primary);
  }
}