.main {
    // .main__block-about
    &__block-about {
    }
}
.block-about {
    &__container {
        display: flex;
        justify-content: center;
        gap: 120px;
        padding: 80px 175px 100px;
    }

    // .block-about__img-wrap
    &__img-wrap {
    }

    // .block-about__img
    &__img {
    }

    // .block-about__content
    &__content {
        max-width: 430px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    // .block-about__title
    &__title {
        max-width: 370px;
    }

    // .block-about__subtitle
    &__subtitle {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: var(--color-dark-xl);
    }
}
